{% extends 'base.html' %}



{% block body %}
    <div class="container my-5 w-50">
        <h1 class="text-center">Student Login</h1>

        <form action="{% url 'student_login' %}" method="post">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Username" name="userName">
            <br>
            <input type="password" class="form-control" placeholder="Password" name="stuPwd">
            <br>
            <input type="submit" value="Login" class="btn btn-primary form-control">
        </form>
    </div>
{% endblock %}